<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Currículum Vitae </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../assets/one.png" />
    <ion-card-header>
      <ion-card-title>ACERCA DE MÍ </ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-justify">
      Estudiante en Tecnología Superior en Desarrollo de Software, con deseos de
      aprender y contribuir significativamente con el crecimiento de la
      organización. Busco ser un profesional competente dispuesto a asumir retos
      en el ámbito laboral y personal.
    </ion-card-content>
  </ion-card>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>FORMACIÓN</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ul>
          <li>Tecnólogo Superior en Desarrollo de Software</li>
          Escuela Politécnica Nacional (EPN - ESFOT) | (2021- actual)
          <li>Bachiller en Ciencias</li>
          Colegio Experimental ¨24 de Mayo¨ | (2011-2019)
        </ul>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>EXPERIENCIA LABORAL</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ul>
          <li>
            Asistente Técnico de Mantenimiento de Alejo Hogar | 2019 - 2022<br />
            Equipos de Computación<br />
          </li>

          <ul>
            <li>
              Diagnóstico y resolución eficiente de fallos y errores de sistema
              en equipos informáticos.
            </li>
            <li>
              Implementación y gestión de actualizaciones de seguridad para
              proteger la integridad de los sistemas.
            </li>
            <li>
              Configuración óptima de hardware y software para mejorar el
              rendimiento y la eficiencia de los equipos.
            </li>
          </ul>
        </ul>
      </div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label>HABILIDADES</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ul>
          <li>
            <strong>Liderazgo</strong>
          </li>
          <li>
            <strong>Trabajo en equipo</strong>
          </li>
          <li>
            <strong>Gestión del Tiempo </strong>
          </li>
          <li>
            <strong>Comunicación Efectiva</strong>
          </li>
          <li>
            <strong>Resolución de Problemas</strong>
          </li>
        </ul>
      </div>
    </ion-accordion>
    <ion-accordion value="fifth">
      <ion-item slot="header" color="light">
        <ion-label>IDIOMAS</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ul>
          <li><strong>Español</strong> (Nativo)</li>
          <li>
            <strong
              >Centro de educación continua - Escuela Politécnica Nacional. -
              Inglés B2</strong
            >
            (Intermedio)
          </li>
        </ul>
      </div>
    </ion-accordion>
    <ion-accordion value="sixth">
      <ion-item slot="header" color="light">
        <ion-label>REFERENCIAS</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ul>
          <li>
            <strong>CEO de la Empresa - Alejo Hogar</strong> Raúl Yunda - (+593)
            982101052
          </li>

          <li><strong>Jorge Cueva</strong> (+593) 987494121</li>
          <li>
            <strong>CEO Contribución</strong> Ing. Juan Pablo Yunda - (+593)
            987494121
          </li>
        </ul>
      </div>
    </ion-accordion>
    <ion-accordion value="seventh">
      <ion-item slot="header" color="light">
        <ion-label>FORMACIÓN ACADÉMICA</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Desarrollo Web:</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img
                    alt="Silhouette of mountains"
                    src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
                  />
                </ion-thumbnail>
                <ion-label
                  >Básicos de Angular ,TypeScript y JavaScript</ion-label
                >
              </ion-item>
              <ion-card-subtitle>Lenguajes de Programación: </ion-card-subtitle>

              <ion-item>
                <ion-thumbnail slot="start">
                  <img
                    alt="Silhouette of mountains"
                    src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
                  />
                </ion-thumbnail>
                <ion-label>
                  <ul>
                    <li>Java: Utilizado en proyectos académicos</li>
                    <li>C++: Fundamentos de programación estructurada</li>
                    <li>
                      Python: Conocimientos básicos para análisis de datos
                    </li>
                  </ul>
                </ion-label>
              </ion-item>
              <ion-card-subtitle>Herramientas de Desarrollo:</ion-card-subtitle>

              <ion-item>
                <ion-thumbnail slot="start">
                  <img
                    alt="Silhouette of mountains"
                    src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
                  />
                </ion-thumbnail>
                <ion-label
                  ><ul>
                    <li>Visual Studio Code</li>
                    <li>Git</li>
                    <li>GitHub</li>
                    <li>Postman</li>
                    <li>Terminal</li>
                  </ul></ion-label
                >
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">CONTACTO</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div style="display: flex; justify-content: center">
        <ion-button
          size="small"
          href="https://wa.me/qr/5KLWY7N7NI7CP1"
          target="_blank"
        >
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-button>
        <ion-button
          size="small"
          href="https://www.linkedin.com/in/josephym07tsds/"
          target="_blank"
        >
          <ion-icon name="logo-linkedin"></ion-icon>
        </ion-button>
        <ion-button
          size="small"
          href="https://github.com/JosephYM07"
          target="_blank"
        >
          <ion-icon name="logo-github"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
    <strong class="ion-text-center"
      >(+593) 999015826 | Calderón Marianas</strong
    >
  </ion-card>
</ion-content>
